# Working with categorical data

Categorical data can be split in 2 different kinds:
- Ordinal: having a natural order
- Nominal: they cannot be ordered

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('../data/adult.csv')

In [ ]:
df.info()

The object variables contain strings.
Pandas try to infer the type of each column. Categories are not directly flagged as categorical data but as strings.

In [ ]:
df.describe()

In [ ]:
# What's the amount of different values of each variable?
df.nunique()

In [ ]:
# What are the different values of a specific variable?
df.workclass.value_counts()

In [ ]:
# And their relative frequences
df.workclass.value_counts(normalize=True)

Object types can be converted into categorical ones by using the astype method:

In [ ]:
df['marital.status'] = df['marital.status'].astype('category')

In [ ]:
df['marital.status'].dtype

In [ ]:
# Creating categorical series

my_data = ['A', 'A', 'B', 'A', 'C', 'B']

# Unordered
my_series1 = pd.Series(my_data, dtype='category')
print(my_series1)

In [ ]:
# Ordered
my_series2 = pd.Categorical(my_data, categories=["C", "B", "A"], ordered=True)
print(my_series2)

Categorical data helps reducing memory footprint by a lot.

In order to benefit from lower memory requirements right from the beginning there is a way to pass the dtypes of the variables when reading from the source:

In [ ]:
df_dtypes={
"marital.status": "category"
}

df = pd.read_csv('../data/adult.csv', dtype=df_dtypes)

df.dtypes

## Grouping data by categories

In [ ]:
df = pd.read_csv('../data/adult.csv')

#the following
df1 = df[df["income"]=="<=50K"]
df2 = df[df["income"]==">50K"]
#can be replaced by 
groupby_object = df.groupby(by=["income"])

In [ ]:
#We can use now functions like countm sum, mean... or our own custom functions
groupby_object.size()

In [ ]:
groupby_object[["education.num", "age"]].sum()

In [ ]:
groupby_object = df.groupby(by=["income", "marital.status"])

In [ ]:
groupby_object[["education.num", "age"]].sum()

## Setting categorical variables

In this section we are going to see how we can manipulate categories. For the most part we are going to use the *.cat* accessor.

In [ ]:
dogs = pd.read_csv('../data/ShelterDogs.csv')

In [ ]:
dogs.info()

In [ ]:
dogs["coat"] = dogs["coat"].astype("category")

In [ ]:
dogs["coat"].value_counts()

In [ ]:
# Setting the categories will assing a null categorie to the eventual categories previously assigned but not included in the list
dogs["coat"] = dogs["coat"].cat.set_categories(new_categories=["short", "medium", "long"])

In [ ]:
dogs["coat"].value_counts(dropna=False)

The wirehaired category is now gone

In [ ]:
dogs["coat"] = dogs["coat"].cat.set_categories(
    new_categories=["short", "medium", "long"], 
    ordered=True
)
dogs["coat"].head(3)

In [ ]:
#In the case of likes_people, there is a lot of null values

dogs['likes_people'].value_counts(dropna=False)

In [ ]:
dogs["likes_people"] = dogs["likes_people"].astype("category")
dogs["likes_people"] = dogs["likes_people"].cat.add_categories(["did not check", "could not tell"])

In [ ]:
dogs["likes_people"].value_counts(dropna=False)

In [ ]:
#We can remove categories as well
dogs['coat'] = dogs['coat'].cat.remove_categories(removals=['wirehaired'])

## Updating and collapsing categories

In [ ]:
dogs['breed'] = dogs['breed'].astype('category')

In [ ]:
dogs['breed'].value_counts()

In [ ]:
#Renaming one or more categories
dogs['breed'] = dogs['breed'].cat.rename_categories(new_categories={
   'Unknown Mix': 'Unknown'
})

In [ ]:
dogs['breed'].value_counts()

In [ ]:
# Renaming can be done with lambdas too
dogs['sex'] = dogs['sex'].astype('category')
dogs['sex'] = dogs['sex'].cat.rename_categories(lambda x: x.title())

In [ ]:
dogs['sex'].value_counts()

In [ ]:
dogs['color'] = dogs['color'].astype("category")
print(dogs['color'].cat.categories)

In [ ]:
update_colors = {
    "black and brown": "black",
    "black and tan": "black",
    "black and white": "black"
}

In [ ]:
dogs["main_color"] = dogs["color"].replace(update_colors)

In [ ]:
dogs["main_color"].value_counts()

In [ ]:
dogs["main_color"].dtype

## Reordering Categories

In [ ]:
dogs = pd.read_csv('../data/ShelterDogs.csv')

dogs['coat'] = dogs['coat'].astype('category')
dogs['coat'] = dogs['coat'].cat.reorder_categories(
    new_categories=['short', 'medium', 'wirehaired', 'long'],
    ordered=True
)

dogs['coat'].cat.categories

In [ ]:
#The order is taken into account to display the results of the grouping
dogs.groupby(by='coat')['age'].mean()

## Cleaning and accessing data

There are several kinds of issues we can face when dealing with categorical data:
- Inconsistent values
- Misspelled values
- Wrong dtype after corrections

To identify them we can use either the cat.categories or the value_counts method.

For fixing the inconsistent values we can use the same methods as for fixing strings:
- str.strip()
- str.title(), upper() or lower()
- str.mapping(dict)

Dont forget to check the dtype after the change

To access data we can use .str.contains(string or regex)

In [ ]:
# Accessing data with loc

dogs.loc[dogs['get_along_cats']=='yes', "size"]

In [ ]:
dogs.loc[dogs['get_along_cats']=='yes', "size"].value_counts(sort=False)

## Using categorical data in visualization

Seaborn has a kind of plot for categories, called catplot

In [ ]:
df = pd.read_csv('../data/lasvegas_tripadvisor.csv')

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.info()

Catplot has the following parameters:
- x
- y
- data
- kind: strip, swarm, box, violin, boxen, point, bar, count

In [ ]:
sns.catplot(data=df, y='Nr. rooms', kind='box')

In [ ]:
sns.catplot(data=df, y='Nr. rooms', kind='boxen')

In [ ]:
sns.catplot(data=df, y='Nr. rooms', kind='violin')

In [ ]:
sns.catplot(data=df, y='Nr. rooms', kind='swarm')

In [ ]:
sns.catplot(data=df, y='Nr. rooms', kind='strip')

In [ ]:
sns.catplot(data=df, y='Nr. rooms', kind='point')

In [ ]:
sns.catplot(data=df, y='Nr. rooms', kind='bar')

In [ ]:
df['Score'].value_counts()

In [ ]:
sns.catplot(x='Pool', y='Score', data=df, kind='box')

In [ ]:
sns.set(font_scale=1.4)
sns.set_style('whitegrid')

In [ ]:
sns.catplot(x='Pool', y='Score', data=df, kind='box')

In [ ]:
#Pandas offers a way to plot barcharts out of the box:
df['Traveler type'].value_counts().plot.bar()

In [ ]:
#Seaborn goes beyond this simple plot and allow us to analyze numerical variables through categorical ones
sns.catplot(x='Traveler type', hue='Traveler type', y='Score', data=df, kind='bar')

Sns barplot represents with the height of each bar, the point estimate of the mean of the data. 

The black band represent the confidence interval for that value. That means, the range of values we are confident at 95% that the observations will fall in.

### Ordering categories

In [ ]:
df['Traveler type'] = df['Traveler type'].astype('category')
df['Traveler type'].cat.categories

sns.catplot(x='Traveler type', hue='Traveler type', y='Score', data=df, kind='bar')

The catplot method has a "order" attribute, but its way more preferable to use the category order since that would be applied to every single graph, and not only.

### The hue parameter

Adds a color difference depending on the category

In [ ]:
sns.catplot(x='Traveler type', hue='Tennis court', y='Score', data=df, kind='bar')

## Point and count plot

The point plot connects the means of the categories helping understanding the eventual difference between them. Confidence intervals are represented as well.

In [ ]:
sns.catplot(x='Pool', y='Score', data=df, kind='point')

In [ ]:
sns.catplot(x='Spa', y='Score', data=df, kind='point', hue='Tennis court', dodge=True)

In [ ]:
sns.catplot(x='Spa', y='Score', data=df, kind='point', hue='Tennis court', dodge=True, join=False)

In [ ]:
sns.catplot(x='Spa', data=df, kind='count', hue='Tennis court')

## The challenge of displaying several categories at the same time

In [ ]:
ax = sns.catplot(x='Traveler type', 
            kind='count', 
            col='User continent', 
            col_wrap=3, 
            palette=sns.color_palette('Set1'), 
            data=df)

ax.fig.suptitle('Hotel Score by Traveler Type and User Continent')
ax.set_axis_labels("Traveler Type", 'Number of Reviews')
plt.subplots_adjust(top=.9)

## Categorical Pitfalls

The first one is related to the memory footprint reduction associated with the usage of categories. It wont happen in case of the variable having a big number of different values.

In [ ]:
df = pd.read_csv('../data/cars.csv')

In [ ]:
df

In [ ]:
df.manufacturer_name.nunique()

In [ ]:
df.manufacturer_name.nbytes

In [ ]:
df.manufacturer_name.astype('category').nbytes

In [ ]:
df.odometer_value.nbytes

In [ ]:
df.odometer_value.astype('category').nbytes

In [ ]:
df.odometer_value.nunique()

The memory saving on odometer_value is quite limited compared to what happens with manufacturer_name

Using categories can be frustrating as well because:
- using .str accessor object to manipulate data converts the Series into objects
- The .apply() method outputs a new Series as an object
- The common methods of adding, removing, replacing or setting categories do not handle missing categories the same way
- Numpy functions generally do not work with categorical Series

In [ ]:
#Double check the variable is still a category after an operationabs
df['color']=df['color'].astype('category')
df['color']=df['color'].str.upper()
print(df['color'].dtype)

In [ ]:
df['color']=df['color'].astype('category')
print(df['color'].dtype)

In [ ]:
#Check the missing values
df['color']=df['color'].astype('category')
df['color']=df['color'].cat.set_categories(['black', 'silver', 'blue'])
df['color'].value_counts(dropna=False)

## Label Encoding

It codes each category with an integer from 0 to n-1 where n is the number of different categories.
-1 is often use to encode missing values.
Label encoding is often used to save memory

The method cat.codes is used to crete codes:

In [ ]:
df['manufacturer_name'] = df['manufacturer_name'].astype('category')

In [ ]:
df['manufacturer_code'] = df['manufacturer_name'].cat.codes

In [ ]:
df[['manufacturer_code', 'manufacturer_name']]

If we want to create a code book with the codes and names for later manipulation we can do so thanks to python's zip method:

In [ ]:
name_map = dict(zip(df.manufacturer_code, df.manufacturer_name))

In [ ]:
name_map

In [ ]:
#to convert codes back into names:
df['manufacturer_code'].map(name_map)

In [ ]:
# To create a van code 
df['van_code'] = np.where (df['body_type'].str.contains('van', regex=False), 1, 0)

In [ ]:
df['van_code'].value_counts()

### One hot encoding 

Very helpful for machine learning data preparation.

The pandas get_dummies method does this

In [ ]:
df[['odometer_value', 'color']].head()

In [ ]:
df_onehot = pd.get_dummies(df[['odometer_value', 'color']])

In [ ]:
df_onehot.head()

In [ ]:
df_onehot = pd.get_dummies(df, columns=['color'], prefix='onehot')

In [ ]:
df_onehot