# Importing data

## Reading from plain text files 

### Reading the whole file at once

In [ ]:
filename = '../data/plain text with several lines.txt'

# mode='r' to prevent writting into it. Mode='w' if you want to write
file = open(filename, mode='r')
text = file.read()
file.close()

print(text)

Using the file inside a context makes the reading of the file more concise and less cluttered. Outside of the context, the file is already closed:

In [ ]:
with open(filename, 'r') as file:
    print(file.read())

We can read line by line:

In [ ]:
with open(filename, 'r') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

## Reading flat files

Flat files are text files contaning records (row of fields or attributes). Tabular data.
They usually have a header, but its not mandatory.
The delimiter (character used to separate values) can be a comma (csv), tab or any other character.

In [ ]:
titanic_filename = '../data/titanic_sub.csv'

with open(titanic_filename, 'r') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

### Reading numeric flat files using numpy

This method applies when the whole dataset to be read is numeric

In [ ]:
import numpy as np 

filename='../data/mnist_kaggle_some_rows.csv'

data = np.loadtxt(filename, delimiter=',')

data

In [ ]:
# If we would like to skip the header and read a couple of columns only
data = np.loadtxt(filename, delimiter=',', skiprows=1, usecols=[0,2])

### Importing flat files using pandas

The core of pandas is the DataFrame. A matrix has rows and columns. A dataframe has observations and variables.

In [ ]:
import pandas as pd 

filename = '../data/cars.csv'

df = pd.read_csv(filename)
#df = pd.read_csv(filename, nrows=5, header=None, sep='\t', comment='#', na_values=['Nothing'])

## Importing other file types

### Picked files
Pickled files are python objects serialized into files.

In [19]:
import pickle

filename='filename.pickle'

my_dict = {'a': 53, 'b': 12}

with open(filename, 'wb') as handle:
    pickle.dump(my_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(filename, 'rb') as handle:
    my_dict_restored = pickle.load(handle)

print(my_dict_restored)

{'a': 53, 'b': 12}

### Excel files

In [22]:
import pandas as pd 

file='../data/battledeath.xlsx'

data = pd.read_excel(file)

data.head()

  War, age-adjusted mortality due to       2002
0                        Afghanistan  36.083990
1                            Albania   0.128908
2                            Algeria  18.314120
3                            Andorra   0.000000
4                             Angola  18.964560

## Reading SAS, HD5, matlab and other files

## Querying databases