# Working with categorical data

Categorical data can be split in 2 different kinds:
- Ordinal: having a natural order
- Nominal: they cannot be ordered

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('../data/adult.csv')

In [ ]:
df.info()

The object variables contain strings.
Pandas try to infer the type of each column. Categories are not directly flagged as categorical data but as strings.

In [ ]:
df.describe()

In [ ]:
# What's the amount of different values of each variable?
df.nunique()

In [ ]:
# What are the different values of a specific variable?
df.workclass.value_counts()

In [ ]:
# And their relative frequences
df.workclass.value_counts(normalize=True)

Object types can be converted into categorical ones by using the astype method:

In [ ]:
df['marital.status'] = df['marital.status'].astype('category')

In [ ]:
df['marital.status'].dtype

In [ ]:
# Creating categorical series

my_data = ['A', 'A', 'B', 'A', 'C', 'B']

# Unordered
my_series1 = pd.Series(my_data, dtype='category')
print(my_series1)

In [ ]:
# Ordered
my_series2 = pd.Categorical(my_data, categories=["C", "B", "A"], ordered=True)
print(my_series2)

Categorical data helps reducing memory footprint by a lot.

In order to benefit from lower memory requirements right from the beginning there is a way to pass the dtypes of the variables when reading from the source:

In [ ]:
df_dtypes={
"marital.status": "category"
}

df = pd.read_csv('../data/adult.csv', dtype=df_dtypes)

df.dtypes

## Grouping data by categories

In [ ]:
df = pd.read_csv('../data/adult.csv')

#the following
df1 = df[df["income"]=="<=50K"]
df2 = df[df["income"]==">50K"]
#can be replaced by 
groupby_object = df.groupby(by=["income"])

In [ ]:
#We can use now functions like countm sum, mean... or our own custom functions
groupby_object.size()

In [ ]:
groupby_object[["education.num", "age"]].sum()

In [ ]:
groupby_object = df.groupby(by=["income", "marital.status"])

In [ ]:
groupby_object[["education.num", "age"]].sum()

## Setting categorical variables

In this section we are going to see how we can manipulate categories. For the most part we are going to use the *.cat* accessor.

In [ ]:
dogs = pd.read_csv('../data/ShelterDogs.csv')

In [ ]:
dogs.info()

In [ ]:
dogs["coat"] = dogs["coat"].astype("category")

In [ ]:
dogs["coat"].value_counts()

In [ ]:
# Setting the categories will assing a null categorie to the eventual categories previously assigned but not included in the list
dogs["coat"] = dogs["coat"].cat.set_categories(new_categories=["short", "medium", "long"])

In [ ]:
dogs["coat"].value_counts(dropna=False)

The wirehaired category is now gone

In [ ]:
dogs["coat"] = dogs["coat"].cat.set_categories(
    new_categories=["short", "medium", "long"], 
    ordered=True
)
dogs["coat"].head(3)

In [ ]:
#In the case of likes_people, there is a lot of null values

dogs['likes_people'].value_counts(dropna=False)

In [ ]:
dogs["likes_people"] = dogs["likes_people"].astype("category")
dogs["likes_people"] = dogs["likes_people"].cat.add_categories(["did not check", "could not tell"])

In [ ]:
dogs["likes_people"].value_counts(dropna=False)

In [ ]:
#We can remove categories as well
dogs['coat'] = dogs['coat'].cat.remove_categories(removals=['wirehaired'])

In [ ]:
dogs['coat'] = dogs['coat'].cat.

## Updating and collapsing categories

In [ ]:
dogs['breed'] = dogs['breed'].astype('category')

In [ ]:
dogs['breed'].value_counts()

In [ ]:
#Renaming one or more categories
dogs['breed'] = dogs['breed'].cat.rename_categories(new_categories={
   'Unknown Mix': 'Unknown'
})

In [ ]:
dogs['breed'].value_counts()

In [ ]:
# Renaming can be done with lambdas too
dogs['sex'] = dogs['sex'].astype('category')
dogs['sex'] = dogs['sex'].cat.rename_categories(lambda x: x.title())

In [ ]:
dogs['sex'].value_counts()

In [ ]:
dogs['color'] = dogs['color'].astype("category")
print(dogs['color'].cat.categories)

In [ ]:
update_colors = {
    "black and brown": "black",
    "black and tan": "black",
    "black and white": "black"
}

In [ ]:
dogs["main_color"] = dogs["color"].replace(update_colors)

In [ ]:
dogs["main_color"].value_counts()

In [ ]:
dogs["main_color"].dtype